/* Shared styles */
.app-container {
    background: #f5f6fa;
}

.view-container {
    margin: 3rem 1rem;
    font: 1rem "PT Sans", sans-serif;
    background: #f5f6fa;
}

.display-flex__gap{
    max-width: 50vw;
}

/* Specific styles */
.input-search__bar {
    min-width: 360px;
}

.dashboard-image__style > img{
    margin: auto;
    height: auto;
    max-height: 100%;
    width: auto;
}

.dashboard-card__title {
    min-height: 5.0rem;
}

.recipe-border {
    border: 2px solid rgb(204, 204, 204);
    border-radius: 10px;
    max-width: 270px;
}

.recipe-subheader {
    word-break: break-all;
}